<div class="privacy-modeling-wrapper">
	<div class='container privacy-modeling-container'>
		<div class='privacy-modeling__text'>
			{{{ content }}}
		</div>
		<a href="{{ button.url }}" class='privacy-modeling__link'>
			{{ button.text }}
		</a>
	</div>
</div>
