<form action="/search" class="hero__form-search">
    <label for="q" class="hero__form-label">
    	<input id="q" class="hero__form-input" type="search" name="q" autocomplete="off" placeholder="Search checklists" aria-label="Search" required>
    </label>
    <button class="hero__form-btn">
        SEARCH
    </button>
    <div class="search__results">
        <ul class="search__results--list autocomplete-items" tabindex="0"></ul>
    </div>
</form>
