<div class="sharing-container sharing-container__post ">

    <!-- Sharingbutton Facebook -->
    <a class="sharing-container__link resp-sharing-button__link sharing-container__link--facebook" href="" target="_blank" aria-label="">
        <i class="fab fa-facebook-f"></i>
    </a>

    <!-- Sharingbutton Twitter -->
    <a class="sharing-container__link resp-sharing-button__link sharing-container__link--twitter" href="https://twitter.com/intent/tweet/?url=" target="_blank" aria-label="">
        <i class="fab fa-twitter"></i>
    </a>

    <!-- Sharingbutton LinkedIn -->
    <a class="sharing-container__link sharing-container__link--linkedIn resp-sharing-button__link" href="" target="_blank" aria-label="">
        <i class="fab fa-linkedin-in"></i>
    </a>

    <!-- Sharingbutton Google+ -->
    <a class="sharing-container__link sharing-container__link--google resp-sharing-button__link" href="" target="_blank" aria-label="">
        <i class="fab fa-google-plus-g"></i>
    </a>

</div>